.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;

  .card-field-row {
    &:hover {
      background-color: lighten($color: #000000, $amount: 15);
    }
  }

  .card-field-label {
    font-weight: bold;
    display: flex;
    flex: auto;
  }

  .card-field-value {
    // float: right;
  }
}

.donation-button {
  float: right;
  margin-right: 8px !important;
  margin-top: 48px !important;
  padding: 2px 35px;
}

.connect-project-button {
  float: right;
  margin-right: 8px !important;
  padding: 2px 15px;
}
