<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-route" routerLink="/home"
        ><mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>Home</a
      >
      <a class="disabled" mat-list-item (click)="fetchProjects()" style="cursor: pointer"
        ><mat-icon aria-hidden="false" aria-label="My Projects icon">loyalty</mat-icon>My Projects</a
      >
      <a mat-list-item routerLinkActive="active-route" routerLink="/about-us"
        ><mat-icon aria-hidden="false" aria-label="About us icon">info</mat-icon>About us</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ng-container *ngIf="isHandset$ | async; else complete_title">
        <span>[CSAC]</span>
      </ng-container>
      <ng-template #complete_title>
        <span>[CSAC] Crowdfunding Solidario Argentina Conectada</span>
      </ng-template>
      <span class="toolbar-spacer"></span>
      <fa-icon [icon]="faUserCircle" size="2x" [matMenuTriggerFor]="menu" class="user-avatar"></fa-icon>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="auth.isAuthenticated$ | async">
          <button mat-menu-item routerLinkActive="active-route" routerLink="/profile"><span>Profile</span></button>
          <button mat-menu-item disabled><span>My Projects</span></button>
        </ng-container>
        <app-auth-button></app-auth-button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
